body {
    font-family: 'EXO 2';
    color: whitesmoke;
    width: auto;
    font-size: 20px;
    font-weight: bold;
    background: radial-gradient( #010a4f, #07080a) no-repeat;
    background-size: cover;
}

.bg-body-tertiary {
    background-color: #00aed900 !important;
}
.me-auto {
    margin-left: auto;
}

.me-auto li {
    width: 150px;
    text-align: center;
}

.dropdown {
    list-style: none;;
}

.btn {
    border-radius: 25px;
    width: 10rem;
    --bs-btn-padding-y: .5rem; 
    --bs-btn-padding-x: .5rem; 
    --bs-btn-font-size: 1.2rem;
}

.btn:hover {
    background-color: #0316a7;
}

.nav-link {
    color: white;
}

.nav-link:hover {
    color: #0316a7;
}

.lh-1 {
    color: white !important;
}

.img-fluid {
    border-radius: 20px;
    height: 200px !important;
    width: 500px !important;
}
